* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

/*NAV BAR*/
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  font-family: "Space Grotesk", sans-serif;
}

.nav-container .nav-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-container .nav-title-container h1 {
  font-size: 2rem;
  font-weight: 800;
}

.nav-container ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.list-and-button-container {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.nav-container ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
.nav-container .list-and-button-container button {
  padding: 1.1rem 2.4rem;
  border: 1px solid black;
  border-radius: 10px;
}

.nav-container .hamburger_menu {
  display: none;
}

/*DROP DOWN MENU*/

.dropdown_menu li a {
  text-decoration: none;
  text-wrap: nowrap;
  color: black;
  font-size: 15px;
  font-weight: medium;
  z-index: 2;
}

.dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 80px;
  width: 300px;
  height: 0;
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 210px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*FIRST SECTION*/

.first-section-container {
  width: 100%;
  padding: 0px 60px;
}

.text-and-image-container {
  display: flex;
  align-items: center;
  padding: 70px 0px;
}

.text-and-image-container .right-section h2 {
  font-family: "Space Grotesk" sans-serif;
  font-weight: 500;
  font-size: clamp(3.75rem, 4vw, 5rem);
}

.text-and-image-container .right-section p {
  font-family: "Space Grotesk" sans-serif;
  padding: 30px 0px;
  font-size: clamp(1.3rem, 1.5vw, 4rem);
}

.text-and-image-container .right-section button {
  background-color: #191a23;
  color: #fff;
  padding: 20px 30px;
  border: 1px solid #191a23;
  border-radius: 10px;
  font-size: clamp(0.7rem, 1.3vw, 1.4rem);
}

.left-section {
  margin-left: 13rem;
}
.left-section .image-container {
  width: 35vw;
}

.left-section .image-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

button:hover {
  cursor: pointer;
}
.logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  flex-wrap: wrap;
}

.logos-container .logo-image-container {
  width: 10vw;
  min-width: 110px;
}

.logos-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.image-mobile .image-container {
  display: none;
  width: 35vw;
  min-width: 350px;
}
.image-mobile .image-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/*SECOND SECTION*/

.second-section-container {
  padding: 40px 60px;
  width: 100%;
}

.second-section-container .title-and-p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}
.second-section-container .title-and-p h2 {
  background-color: #b9ff66;
  padding: 0px 2px;
  border-radius: 10px;
  font-size: clamp(2.5rem, 3vw, 3rem);
}

.second-section-container .title-and-p p {
  width: 70%;
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.second-section-container .cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: auto;
  grid-gap: 2.5rem;
  place-items: center;
  padding-top: 3rem;
}

.second-section-container .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin: 0;
  width: 100%;
  height: 17vw;
  border-radius: 50px;
  transition: transform 0.3s;
  min-height: 210px;
}

.second-section-container .cards:hover {
  transform: scale(1.05);
}

.cards-container .grey-color {
  background-color: #f3f3f3;
}

.cards-container .green-color {
  background-color: #b9ff66;
}

.cards-container .black-color {
  background-color: #191a23;
}

.cards-container .black-color p {
  color: #fff;
}

.second-section-container .cards .left-section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 0;
  margin: 0;
}
.second-section-container .cards .left-section h3 {
  font-size: clamp(1.2rem, 2.2vw, 3.2rem);
}

.second-section-container .cards .left-section p {
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  font-weight: 500;
}

.second-section-container .cards .left-section .arrow-and-p-container {
  display: flex;
  gap: 0px 1rem;
  align-items: center;
}
.second-section-container .cards .right-section .image-container {
  width: 17vw;
}
.second-section-container .cards .right-section .image-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.second-section-container .cards .left-section .circle-background {
  width: 2.6vw;
  height: 2.6vw;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
}

.second-section-container .cards .left-section .circle-background-white {
  background-color: #fff;
}
.second-section-container .cards .left-section .circle-background-dark {
  background-color: #191a23;
}

.second-section-container
  .cards
  .left-section
  .circle-background
  .icon-container {
  width: 1.5vw;
  height: 1.5vw;
  min-width: 15px;
  min-height: 15px;
  position: relative;
}
.second-section-container
  .cards
  .left-section
  .circle-background
  .icon-container
  img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 7px;
  left: 7px;
}

.second-section-container .cards .left-section .card-title-green {
  background-color: #b9ff66;
  border-radius: 10px;
  padding: 2px;
  line-height: 1rem;
}

.second-section-container .cards .left-section .card-title-white {
  background-color: #fff;
  border-radius: 10px;
  padding: 2px;
  line-height: 1rem;
}

.second-section-container .bottom-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-section-container .bottom-card-container .bottom-card {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  height: auto;
  background-color: #f3f3f3;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.second-section-container .bottom-card-container .left-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.second-section-container .bottom-card-container .left-section h2 {
  font-size: clamp(1.6rem, 2.1vw, 2.3rem);
  font-weight: 700;
}

.second-section-container .bottom-card-container .bottom-card .left-section p {
  font-size: clamp(1rem, 1.5vw, 1.8rem);
  text-wrap: wrap;
}
.second-section-container
  .bottom-card-container
  .bottom-card
  .left-section
  button {
  width: max-content;
  height: auto;
  background-color: #191a23;
  border: 1px solid #191a23;
  border-radius: 10px;
  padding: 1rem 2.5rem;
  color: #fff;
  font-size: clamp(1rem, 1.5vw, 1.6rem);
}
.second-section-container
  .bottom-card-container
  .bottom-card
  .right-section
  .image-container {
  width: 25vw;
  height: auto;
}

.second-section-container
  .bottom-card-container
  .bottom-card
  .right-section
  .image-container
  img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/*THIRD SECTION*/

.third-section-container {
  padding: 20px 60px;
}

.third-section-container .title-and-p {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.third-section-container .title-and-p h2 {
  background-color: #b9ff66;
  padding: 0px 2px;
  border-radius: 10px;
  font-size: clamp(2.5rem, 3vw, 3rem);
}
.third-section-container .title-and-p p {
  width: 50%;
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.third-section-container .cards-container {
  margin: 5rem 0rem;
  width: 100%;
  padding: 4.25rem 3.75rem;
  background-color: #191a23;
  display: flex;
  border-radius: 50px;
  color: #fff;
}

.third-section-container .cards-container .vl {
  border-left: 1px solid #fff;
  height: 130px;
  margin: 0 1rem;
}

.third-section-container .arrow-and-p-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #b9ff66;
}

.swiper {
  display: none;
}

.fourth-section {
  padding: 0 4rem;
}

.fourth-section .fourth-section-title-and-p {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.fourth-section .fourth-section-title-and-p h2 {
  background-color: #b9ff66;
  font-size: clamp(2.5rem, 3vw, 3rem);
  padding: 0px 2px;
  border-radius: 10px;
}

.fourth-section .fourth-section-title-and-p p {
  width: 30%;
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.fourth-section .cards-container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin: 5rem 0;
}

.fourth-section .cards-container .cards {
  width: 100%;
  max-height: 120px;
  background-color: #f3f3f3;
  border-bottom: 6px solid #191919;
  padding: 2rem 3rem;
  border-radius: 50px;
}

.fourth-section .cards-container .cards.open {
  background-color: #b9ff66;
  max-height: 2400px;
}

.fourth-section .cards-container .cards .header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
  position: relative;
}
.fourth-section .cards-container .cards .header-card .title-card {
  display: flex;
  gap: 20px;
  align-items: center;
}
.fourth-section .cards-container .cards .header-card .title-card h2 {
  font-size: clamp(3rem, 4vw, 5rem);
}
.fourth-section .cards-container .cards .header-card .title-card h2 {
  font-size: clamp(2rem, 3vw, 4rem);
}

.fourth-section .cards-container .cards .header-card .icon-container {
  width: 2.5vw;
  cursor: pointer;
}

.fourth-section .cards-container .cards .header-card .icon-container img {
  width: 100%;
}

.fourth-section .cards-container .cards .header-card::after {
  content: "";
  display: none;
  position: absolute;
  bottom: 2.2rem;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000;
  border-radius: 10px;
  display: none;
}

.fourth-section .cards-container .cards.open .header-card::after {
  display: block;
}

.fourth-section .cards-container .cards .content {
  font-size: clamp(1.2rem, 1.2vw, 2rem);
  margin-bottom: 30px;
  display: none;
}

@media (width <= 1227px) {
  .list-and-button-container {
    display: none;
  }

  .nav-container .hamburger_menu {
    display: block;
    font-size: 2rem;
  }
  .nav-container {
    padding: 30px;
    justify-content: space-between;
  }
}

/*MOBILE*/
@media (width <= 768px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }

  .second-section-container {
    padding: 30px;
  }
  .text-and-image-container {
    flex-direction: column;
    align-items: center;
    padding: 0 9rem;
  }

  .first-section-container .left-section p {
    width: 100%;
    text-wrap: nowrap;
  }
  .first-section-container .left-section img {
    display: none;
  }

  .image-mobile .image-container {
    display: block;
    padding: 1rem 0px;
  }
  .text-and-image-container .right-section button {
    width: 100%;
  }
  .logos-container {
    padding-top: 2rem;
    gap: 2vw 9vw;
  }

  .second-section-container .cards-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .second-section-container .cards-container .cards {
    width: 100%;
  }

  .second-section-container .title-and-p {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .title-and-p h2 {
    padding: 0;
  }

  .second-section-container .title-and-p p {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .second-section-container .bottom-card-container .bottom-card .right-section {
    display: none;
  }

  .second-section-container .bottom-card-container .bottom-card {
    padding: 1rem 2rem;
  }

  .second-section-container .bottom-card-container .left-section {
    gap: 1rem;
  }
  .second-section-container .bottom-card-container .bottom-card .left-section {
    width: 100%;
  }

  .second-section-container .cards .right-section .image-container {
    width: 35vw;
  }

  .third-section-container {
    padding: 36px;
  }

  .third-section-container .cards-container {
    background-color: #fff;
    padding: 0;
  }

  .third-section-container .title-and-p {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .third-section-container .title-and-p p {
    width: 100%;
    text-align: center;
  }

  .third-section-container .cards-container {
    display: none;
  }
  .swiper {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 10px;
    padding: 20px;
  }

  .swiper-wrapper {
    display: flex;
    gap: 20px;
    scroll-snap-align: start;
  }

  .swiper-slide {
    flex: 0 0 80%;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .third-section-container .first-card,
  .third-section-container .second-card,
  .third-section-container .third-card {
    background: #191919;
    color: #fff;
    border-radius: 50px;
    padding: 35px 20px;
    width: 100%;
    transition: transform 0.3s;
  }

  .first-card:hover,
  .second-card:hover,
  .third-card:hover {
    transform: scale(1.05);
  }

  .third-section-container .arrow-and-p-container {
    margin-top: 3rem;
    display: flex;
    gap: 8px;
    cursor: pointer;
  }

  .swiper .arrow-and-p-container p {
    color: #b9ff66;
    font-weight: bold;
  }

  .arrow-and-p-container img {
    width: 16px;
    height: 16px;
  }

  .swiper::-webkit-scrollbar {
    display: none;
  }

  .swiper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .fourth-section {
    padding: 0 2rem;
  }
  .fourth-section .fourth-section-title-and-p {
    flex-direction: column;
    gap: 1rem;
  }

  .fourth-section .fourth-section-title-and-p h2 {
    width: max-content;
    text-align: center;
  }

  .fourth-section .fourth-section-title-and-p p {
    width: 100%;
    text-align: center;
  }
  .fourth-section .cards-container {
    margin: 3rem 0;
  }
}
